[submodule "Backend"]
	path = Backend
	url = https://github.com/TYC-hackthon/Backend
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/TYC-hackthon/Frontend
[submodule "Experiment"]
	path = Experiment
	url = https://github.com/TYC-hackthon/Experiment
